body {
  font-family: "Poppins", sans-serif;
  background-color: #121212;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/images/friends.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 286px;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.btn {
  display: block;
  color: white;
  background-color: #d78804;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 16px;
  text-decoration: none;
}

main {
  background-color: white;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}

section.secondary {
  background: #f8f8f8;
}

.image-responsive {
  width: 100%;
}

.secondary.card-header {
  padding: 10px 20px;
}

.grid {
  display: grid;

  grid-gap: 64px;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
}

.grid-3-columns-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}

.card {
  background-color: white;
  margin: 30px 0;
}

.card-header {
  padding: 10px;
}

.card-body {
  padding: 30px;
}

.card-footer {
  padding: 0 30px 30px;
}

header h1 {
  font-weight: 700;
  font-size: 86px;
  line-height: 1;
  margin: 30px 0 30px;
}

header h2 {
  font-weight: 400;
  font-size: 35px;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: white;
  color: #d78804;
  text-decoration: none;
  display: inline-block;
  padding: 16px 32px;
  margin-top: 32px;
  border-radius: 5px;
}

main h2 {
  font-size: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
  color: #272044;
  opacity: 0.3;
  text-transform: uppercase;
}

main h3 {
  font-size: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #272044;
  margin-top: 0;
}

main h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  color: #272044;
}

main h5 {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  color: #272044;
  margin: 0;
}

main p {
  font-style: normal;
  font-size: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #272044;
  opacity: 0.7;
}

.fish-image {
  max-width: 100%;
}

.text-food {
  margin: 56px 0;
}

footer {
  background-image: linear-gradient(rgba(2, 4, 3, 0.8), rgba(2, 4, 3, 0.8)),
    url(/images/color-food.jpg);
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.9;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer ul {
  padding: 0;
}

footer a {
  color: white;
  opacity: 0.7;
}

@media (max-width: 1000px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 43px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-column-end: 32px;
  }

  section {
    padding: 30px;
  }
}
